html {
    min-height: 100%;
    color: beige;
}

html, body {
    margin: 0;
}

body, .container {
    height: 100vh;
}

a {
    color: beige;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-areas: 
        "head head"
        "nav  main";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 240px 1fr;
}

.container > header {
    grid-area: head;
}

.container > nav {
    grid-area: nav;
}

.container > main {
    grid-area: main;
}

.bg-primary {
    background-color: rgb(34, 34, 34);
}

.bg-secondary {
    background-color: rgb(49, 49, 49);
}

.bg-tertiary {
    background-color: rgb(59, 56, 56);
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.top-header > * {
    display: flex;
    align-items: center;
}

button.has-icon {
    background-color: transparent;
    border: none;
    padding: 0px;
}

button.has-icon > .button-icon {
    background-color: beige;    
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;    
    mask-repeat: no-repeat;
    mask-position: center;
}

.new-project {
    -webkit-mask-image: url('./icons/file-plus.svg');
    mask-image: url('./icons/file-plus.svg');
}

.new-task {
    -webkit-mask-image: url('./icons/plus-circle.svg');
    mask-image: url('./icons/plus-circle.svg');
}

.edit-task {
    -webkit-mask-image: url('./icons/edit.svg');
    mask-image: url('./icons/edit.svg');
}

.delete-task {
    -webkit-mask-image: url('./icons/trash.svg');
    mask-image: url('./icons/trash.svg');
}

.small-icon {
    width: 1rem;
    height: 1rem;
    -webkit-mask-size: 1rem 1rem;
    mask-size: 1rem 1rem;
}

.medium-icon {
    width: 2rem;
    height: 2rem;
    -webkit-mask-size: 2rem 2rem;
    mask-size: 2rem 2rem;
}

nav {
    padding: 1rem;
}

.modal {
    display: none;
    position: fixed;
    background-color: rgb(59, 59, 74);
    padding: 1rem 3rem;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.close {
    position: absolute;
    right: .5em;
    top: .5em;
}

.block {
    display: block;
}

form > * {
    margin-bottom: 1rem;
}

#current-project {
    display: none;
    width: 50%;
    height: auto;
}

#current-project > #details, #current-project > #tasks {
    margin: 0px 2rem;
}

.card-header {
    text-align: center;
    padding: 0.75rem 0px;
}

.card-header > h1 {
    margin: 0px;
}

.tasks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-header > h2 {
    margin: 0px;
}

#tasks-list {
    padding-left: .5rem;
}

.task {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: .5rem;
}