@font-face {
    font-family: office-code-pro;
    src: url("fonts/OfficeCodePro-Regular.otf") format("opentype");
}

* {
    font-family: office-code-pro, sans-serif;
}

html {
    min-height: 100%;
    color: beige;
    font-size: 12px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

body, .container {
    height: 100vh;    
}

.container {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
}

a {
    color: beige;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.bg-primary {
    background-color: rgb(34, 34, 34);
}

.bg-secondary {
    background-color: rgb(49, 49, 49);
}

.bg-tertiary {
    background-color: rgb(59, 56, 56);
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 1rem;
}

.top-header > * {
    display: flex;
    align-items: center;
}

section#projects > h2 {
    margin-left: .8em;
}

section#projects > ul {
    padding-left: 0px;
}

section#projects > ul li {
    list-style: none;
    padding: 0.5em 2em;
}

button.has-icon {
    background-color: transparent;
    border: none;
    padding: 0px;
}

button.has-icon > .button-icon {
    background-color: beige;    
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;    
    mask-repeat: no-repeat;
    mask-position: center;
}

.new-project {
    -webkit-mask-image: url('./icons/file-plus.svg');
    mask-image: url('./icons/file-plus.svg');
}

.new-task {
    -webkit-mask-image: url('./icons/plus-circle.svg');
    mask-image: url('./icons/plus-circle.svg');
}

.task-checkbox {
    -webkit-mask-image: url('./icons/square.svg');
    mask-image: url('./icons/square.svg');
}

.checked > .task-checkbox {
    -webkit-mask-image: url('./icons/check-square.svg');
    mask-image: url('./icons/check-square.svg');
}

.edit-icon {
    -webkit-mask-image: url('./icons/edit.svg');
    mask-image: url('./icons/edit.svg');
}

.delete-icon {
    -webkit-mask-image: url('./icons/trash.svg');
    mask-image: url('./icons/trash.svg');
}

.close-icon {
    -webkit-mask-image: url('./icons/x-square.svg');
    mask-image: url('./icons/x-square.svg');
}

.small-icon {
    width: 1rem;
    height: 1rem;
    -webkit-mask-size: 1rem 1rem;
    mask-size: 1rem 1rem;
}

.medium-icon {
    width: 2rem;
    height: 2rem;
    -webkit-mask-size: 2rem 2rem;
    mask-size: 2rem 2rem;
}

.modal {
    display: none;
    position: fixed;
    background-color: rgb(63, 60, 73);
    padding: 1rem 2rem;
    z-index: 1;
    top: 0;
    left: 0;
    width: calc(100vw - 4rem);
    height: 100vh;
}

.form-control > input, .form-control textarea {
    margin-top: 6px;
    min-width: 100%;
    background-color: #26252d;
    color: beige;
    border: none;
    border-radius: 5px;
    padding: .4rem;
}

input#due-date {
    color-scheme: dark;
}

label, legend {
    font-size: 1.3rem;
}

button.close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-25%, -50%);
}

.modal > button.close {
    top: 0;
    transform: translate(-25%, 25%);
}

.block {
    display: block;
}

form > * {
    margin-bottom: 1rem;
}

#current-project {
    display: none;
    width: 50%;
    height: auto;
}

#current-project > #details, #current-project > #tasks {
    margin: 0px .5rem 0px 1.5rem;
}

#current-project p {
    margin: 0px;
    padding-left: 1em;
}

#current-project h3 {
    margin-bottom: .5em;
}

.card-header {
    padding: 1rem .5rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header > h1 {
    margin: 0px;
}

.tasks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-wrapper {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.tasks-header > h2 {
    margin: 0px;
}

#tasks-list {
    padding-left: .5rem;
}

.task:not(:first-child) {
    border-top: 1px solid beige;
    padding-top: .5rem;
}

.task {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    margin-bottom: .5rem;
}

.btn-primary {
    background-color: #2196F3;
    color: white;
    padding: 0.6em 1.1em;
    border: none;
    border-radius: 5px;
}

@media (pointer: fine) {
    button.has-icon > .button-icon:hover {
        background-color: rgb(3, 207, 3);
    }

    button.has-icon > .button-icon.close-icon:hover {
        background-color: red;
    }

    .btn-primary:hover {
        background-color: #48aafb;
    }

    .btn-primary:active {
        background-color: #0160ae;
    }

    section#projects > ul li:hover {
        background-color: #454545;
    }
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }

    .container {
        grid-template-areas:
        "head head"
        "nav  main";
        grid-template-rows: 80px 1fr;
        grid-template-columns: 240px 1fr;
    }

    .container > header {
        grid-area: head;
    }
    
    .container > nav {
        grid-area: nav;
    }
    
    .container > main {
        grid-area: main;
    }

    .modal {
        padding: 1rem 3rem;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }
} 
